#sectionTwo {
    height: 24rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}


#purchaseArea {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    width: 60rem;
    padding: 3rem;
    border-radius: 1rem;
    background-color: #f3f3f3;
    
}

#imgDiv {
    padding: 1rem;
}
#computerDiv {
    padding: 1rem;
}
#checkoutDiv {
    padding: 1rem;
}

#features{
    margin-bottom: 100;
}

#computerFeat {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}
#computerImg {
    height: auto;
    width: 200px;
}

#computerBtn{
    margin-top: 1rem;
    font-size: 1rem;
    background-color: #8ea0df; 
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

#computerPrice {
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
}



