body {
    box-sizing: border-box;
    margin: 0;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
   
}


#navBar {
    
    height: 4rem;
    background-color: rgb(56, 55, 55);
    display: flex;
    flex-direction: column;
    align-content: center;
}


#title {
    padding: 0;
    padding-left: 1rem;
    color: #fff;
}


#sectionOne {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 3rem;
}


#workArea, #computerArea, #bankArea {
   
    
    border-radius: 1rem;
    width: 25rem;
    padding: 1rem;
    background-color: #f3f3f3;
}

/* bank area style */

#balance {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#loanBtnDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}

#loanBtn  {
    margin-top: 4rem;
    font-size: 1rem;
    background-color: #4CAF50; 
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}



/* Work area style */

#workBalance {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#bankBtn {
    margin-top: 5rem;
    font-size: 1rem;
    background-color: #e2df3d; 
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    
}
#workBtn {
    margin-top: 5rem;
    font-size: 1rem;
    background-color: #5183e0; 
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
#payLoanBtn {
    margin-top: 1.3rem;
    font-size: 1rem;
    background-color: #4CAF50; 
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}


#bankBtnDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#payLoanBtnDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

/* computer select Area */

#features {
    margin-bottom: 0;
}

#computerFeat {
    font-size: 0.9rem;
    
}